---
Language: Cpp
Standard: c++20

# The following is close to the style we've been using all these years
# without formalizing it.  Formatting won't be enforced, but this file
# can help if you want to use the general feel of the library.

BasedOnStyle: LLVM

# Indentation
IndentWidth: 4
ColumnLimit: 120
NamespaceIndentation: All
IndentCaseLabels: true
IndentPPDirectives: AfterHash
AccessModifierOffset: -4
ConstructorInitializerIndentWidth: 0

# Alignment
AlignConsecutiveAssignments: false
AlignEscapedNewlines: Left
AlignTrailingComments: true
PointerAlignment: Left
ReferenceAlignment: Left
DerivePointerAlignment: false

# Line Breaking
MaxEmptyLinesToKeep: 1
BreakBeforeBraces: Allman
BreakBeforeTernaryOperators: false
BreakConstructorInitializers: BeforeColon
ConstructorInitializerAllOnOneLineOrOnePerLine: true
AllowShortFunctionsOnASingleLine: Empty
AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortEnumsOnASingleLine: false
AlwaysBreakTemplateDeclarations: true
AlwaysBreakAfterReturnType: None
BinPackArguments: true
BinPackParameters: true

# Spacing
SpaceAfterCStyleCast: false
SpaceAfterTemplateKeyword: true
SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false
SpacesInAngles: false
SpacesInCStyleCastParentheses: false
SpacesInParentheses: false
SpacesInSquareBrackets: false
SpacesBeforeTrailingComments: 1

# Comments
FixNamespaceComments: true
ReflowComments: true

# Lambda
LambdaBodyIndentation: Signature

# Empty Lines
KeepEmptyLinesAtTheStartOfBlocks: false
EmptyLineBeforeAccessModifier: LogicalBlock

# Other
CompactNamespaces: false
SortUsingDeclarations: false

# Include Sorting
# TrinityCore convention: project headers first, then external, then standard library
SortIncludes: true
IncludeBlocks: Preserve
IncludeIsMainRegex: "(Test)?$"
IncludeCategories:
    # Project headers (quoted includes) - first priority
    - Regex: '^".*"'
      Priority: 1
    # External libraries - argon2
    - Regex: '^<argon2\.h>'
      Priority: 2
    # External libraries - Boost
    - Regex: '^<boost/'
      Priority: 2
    # External libraries - Database (MySQL/MariaDB and PostgreSQL)
    - Regex: '^<(mysql\.h|errmsg\.h|mysqld_error\.h|postgresql/|catalog/pg_type|libpq-fe\.h)'
      Priority: 2
    # External libraries - fmt
    - Regex: '^<fmt/'
      Priority: 2
    # External libraries - G3D
    - Regex: '^<G3D/'
      Priority: 2
    # External libraries - OpenSSL
    - Regex: '^<openssl/'
      Priority: 2
    # External libraries - Readline
    - Regex: '^<readline/'
      Priority: 2
    # External libraries - Recast/Detour
    - Regex: '^<(Detour|Recast)'
      Priority: 2
    # External libraries - SFMT
    - Regex: '^<SFMT\.h>'
      Priority: 2
    # External libraries - short_alloc
    - Regex: '^<short_alloc/'
      Priority: 2
    # External libraries - utf8cpp
    - Regex: '^<utf8\.h>'
      Priority: 2
    # External libraries - zlib
    - Regex: '^<zlib\.h>'
      Priority: 2
    # C++ standard headers
    - Regex: '^<(algorithm|any|array|atomic|barrier|bit|bitset|cassert|ccomplex|cctype|cerrno|cfenv|cfloat|charconv|chrono|cinttypes|ciso646|climits|clocale|cmath|codecvt|compare|complex|concepts|condition_variable|coroutine|csetjmp|csignal|cstdalign|cstdarg|cstdbool|cstddef|cstdint|cstdio|cstdlib|cstring|ctgmath|ctime|cuchar|cwchar|cwctype|deque|exception|execution|expected|filesystem|flat_map|flat_set|format|forward_list|fstream|functional|future|generator|initializer_list|iomanip|ios|iosfwd|iostream|istream|iterator|latch|limits|list|locale|map|mdspan|memory|memory_resource|mutex|new|numbers|numeric|optional|ostream|print|queue|random|ranges|ratio|regex|scoped_allocator|semaphore|set|shared_mutex|source_location|span|spanstream|sstream|stack|stacktrace|stdexcept|stdfloat|stop_token|streambuf|string|string_view|strstream|syncstream|system_error|thread|tuple|type_traits|typeindex|typeinfo|unordered_map|unordered_set|utility|valarray|variant|vector|version)>'
      Priority: 3
    # C system headers
    - Regex: '^<(aio|arpa/inet|assert|complex|cpio|ctype|curses|dirent|dlfcn|errno|fcntl|fenv|float|fmtmsg|fnmatch|ftw|glob|grp|iconv|inttypes|iso646|langinfo|libgen|limits|locale|math|monetary|mqueue|ndbm|netdb|net/if|netinet/in|netinet/tcp|nl_types|poll|pthread|pwd|regex|sched|search|semaphore|setjmp|signal|spawn|stdalign|stdarg|stdatomic|stdbool|stddef|stdint|stdio|stdlib|stdnoreturn|string|strings|stropts|sys/ipc|syslog|sys/mman|sys/msg|sys/resource|sys/select|sys/sem|sys/shm|sys/socket|sys/stat|sys/statvfs|sys/time|sys/times|sys/types|sys/uio|sys/un|sys/utsname|sys/wait|tar|term|termios|tgmath|threads|time|trace|uchar|ulimit|uncntrl|unistd|utime|utmpx|wchar|wctype|wordexp)\.h>'
      Priority: 4
    # Other system/external headers not caught above
    - Regex: "^<"
      Priority: 5

# Penalty weights for line breaking decisions
PenaltyBreakAssignment: 2
PenaltyBreakBeforeFirstCallParameter: 19
PenaltyBreakComment: 300
PenaltyBreakFirstLessLess: 120
PenaltyBreakString: 1000
PenaltyExcessCharacter: 1000000
PenaltyReturnTypeOnItsOwnLine: 60
