# Handle line endings automatically for files detected as text
# and leave all files detected as binary untouched.
* text=auto

#
# The above will handle all files NOT found below
#
# These files are text and should be normalized (Convert crlf => lf)
*.gitattributes text
.gitignore text
*.md text

#
# The following files are Windows specific and will thus be allowed
# in crlf form
*.ps1   text eol=crlf
*.bat   text eol=crlf
*.cmd   text eol=crlf
*.inf   text eol=crlf

#
# This will allow git to show diffs using GPG.
*.gpg   filter=gpg diff=gpg
*.asc   filter=gpg diff=gpg

# Whitespace rules
# strict (no trailing, no tabs)
*.cpp   whitespace=trailing-space,space-before-tab,tab-in-indent,cr-at-eol
*.h     whitespace=trailing-space,space-before-tab,tab-in-indent,cr-at-eol

# normal (no trailing)
*.sql   whitespace=trailing-space,space-before-tab,cr-at-eol
*.txt   whitespace=trailing-space,space-before-tab,cr-at-eol

# special files which must ignore whitespace
*.patch whitespace=-trailing-space eol=lf
*.diff  whitespace=-trailing-space eol=lf

# Ignore sql/* files
sql/*   linguist-documentation

# Always LF endings
*.sh    eol=lf
